@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    color: #5E5656;
}
.navbar {
    background: linear-gradient(180deg, #605F5F 0%, rgba(166, 172, 172, 0.03) 100%);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.14);
    position: absolute;
    width: 100%;
    z-index: 3;
    color: aliceblue;
  }
 .container a{
    color: white;
 }
 #navbarNav{
    justify-content: right;
}

.img-inicial img{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 0;
    object-fit: cover;
    
}

.titulo{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#5E5656;
}

.titulo h2{
    font-weight: 700;
    margin-top: 8px;
    margin-right: 30px;
    margin-left: 30px;
}


.tienda {
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
  }
  
  .filtros {
    width: 220px;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    font-family: 'Inter', sans-serif;
  }
  
  .filtros h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .filtros ul {
    list-style: none;
    padding-left: 0;
  }
  
  .filtros li {
    margin: 10px 0;
    font-size: 0.9rem;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .filtros li:hover {
    color: #999;
  }
  
  .zona-productos {
    flex: 1;
  }

  .producto{
    margin-bottom: 50px;
  }

  .producto img{
    width: 100%;
    margin-bottom: 20px;
 
  }

  .producto h3{
    font-size: 16px;
  }

  .producto button{
    width: 100%;
    border-radius: 35.5px;
    border: 1px solid rgba(94, 86, 86, 0.57);
    background: #D9D9D9;
  }

  .producto button:hover {

    background: #5E5656;
    color: white;

}

.btn{
    border-radius: 35.5px;
    border: 1px solid rgba(94, 86, 86, 0.57);
    background: #D9D9D9;
}

.btn:hover{
    background: #5E5656;
    color: white;
}

.carrito{
    
    width: 61%;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.163);
    font-family: 'Inter', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 70px;
}
  